# Caso Nivel Basico
Wendy Yasmin Soto Monzón

In [ ]:
#Instalo FastAPI para poder configurar una API
!pip install fastapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fastapi in /usr/local/lib/python3.7/dist-packages (0.79.0)
Requirement already satisfied: starlette==0.19.1 in /usr/local/lib/python3.7/dist-packages (from fastapi) (0.19.1)
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi) (1.9.1)
Requirement already satisfied: anyio<5,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.19.1->fastapi) (3.6.1)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.19.1->fastapi) (4.1.1)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<5,>=3.4.0->starlette==0.19.1->fastapi) (2.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio<5,>=3.4.0->starlette==0.19.1->fastapi) (1.2.0)

In [ ]:
#Importación de las librerias necesarias para realizar el proyecto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl
import pickle

In [ ]:
#Se carga el archivo csv y se guarda en una variable en este caso se llama df que quere decir dataframe
df=pd.read_csv('/content/cleaned.csv')
#Se muestran las primeras 10 filas del dataframe 
df.head(10)

,track_id,genre_top,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
0,153,Rock,0.988306,0.255661,0.979774,0.973006,0.121342,0.051740,90.241,0.034018
1,154,Rock,0.970135,0.352946,0.023852,0.957113,0.113261,0.032177,53.758,0.035632
2,155,Rock,0.981657,0.142249,0.912122,0.967294,0.363510,0.087527,91.912,0.034325
3,169,Rock,0.989141,0.225978,0.722835,0.263076,0.092371,0.053406,94.322,0.028347
4,170,Rock,0.886660,0.298518,0.744333,0.920950,0.139587,0.088781,97.880,0.073548
5,171,Rock,0.698278,0.285816,0.213494,0.955691,0.087036,0.064094,125.645,0.150599
6,172,Rock,0.815549,0.144125,0.892721,0.900430,0.104703,0.102294,138.680,0.034916
7,173,Rock,0.842113,0.285293,0.564689,0.951624,0.110481,0.040611,166.552,0.254299
8,174,Rock,0.367393,0.339698,0.846639,0.909186,0.198944,0.462607,70.887,0.048243
9,175,Rock,0.993928,0.310090,0.952493,0.274311,0.354231,0.825744,69.413,0.033402

Al ejecutar tu análisis exploratorio, describe el número de columnas y filas que encuentras

Describir el numero de columnas y filas

In [ ]:
#Con lo siguiente muestro solamente el número de filas y columnas que hay en el dataframe
print('El número de filas es: ', df.shape[0])
print('El número de columnas es: ', df.shape[1])
#Se observa que cuenta con 4802 filas y 10 columnas

El número de filas es:  4802
El número de columnas es:  10

In [ ]:
#La siguiente función tambien sirve para cotar las filas y las columnas ya que permite realizar un resumen del dataframe 
df.info()
#Se observa que cuenta con 4802 filas y 10 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4802 entries, 0 to 4801
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          4802 non-null   int64
 1   genre_top         4802 non-null   object
 2   acousticness      4802 non-null   float64
 3   danceability      4802 non-null   float64
 4   energy            4802 non-null   float64
 5   instrumentalness  4802 non-null   float64
 6   liveness          4802 non-null   float64
 7   speechiness       4802 non-null   float64
 8   tempo             4802 non-null   float64
 9   valence           4802 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 375.3+ KB

Valores nulos

In [ ]:
#Con esta función busco en cuales son las columnas en las que se encuentran los valores nulos
df.isna().any()
#Se observa que no se encuentran valores nulos

track_id            False
genre_top           False
acousticness        False
danceability        False
energy              False
instrumentalness    False
liveness            False
speechiness         False
tempo               False
valence             False
dtype: bool

Calcula la media, máximo, mínimo y desviación estándar de las columnas con valores numéricos

In [ ]:
#Con la siguiente función calculó la media, el máximo, el valor mínimo y la desviación estándar de las columnas de valores numéricos
df.describe()
# También se puede calcular por separado cada uno de los valores y mostrar con un print lo que es cada uno, pero esto sería 
# muy laborioso así que en este caso considero que la función que utilice es la más adecuada

,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
count,4802.000000,4.802000e+03,4802.000000,4802.000000,4802.000000,4802.000000,4802.000000,4802.000000,4802.000000
mean,30164.871720,4.870600e-01,0.436556,0.625126,0.604096,0.187997,0.104877,126.687944,0.453413
std,28592.013796,3.681396e-01,0.183502,0.244051,0.376487,0.150562,0.145934,34.002473,0.266632
min,2.000000,9.491000e-07,0.051307,0.000279,0.000000,0.025297,0.023234,29.093000,0.014392
25%,7494.250000,8.351236e-02,0.296047,0.450757,0.164972,0.104052,0.036897,98.000750,0.224617
50%,20723.500000,5.156888e-01,0.419447,0.648374,0.808752,0.123080,0.049594,124.625500,0.446240
75%,44240.750000,8.555765e-01,0.565339,0.837016,0.915472,0.215151,0.088290,151.450000,0.666914
max,124722.000000,9.957965e-01,0.961871,0.999768,0.993134,0.971392,0.966177,250.059000,0.983649

# Caso Nivel Intermedio
Wendy Yasmin Soto Monzón

Desarrolla el árbol de decisión utilizando la librería sklearn.

In [ ]:
#Importo la libreria sklearn para el arbol de decisión
#Esto nos aporta las funciones y metodos que son necesarios para desarrollar un arbol de decisiónes 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [ ]:
#Se muestran las primeras 5 filas del dataframe 
df.head()

,track_id,genre_top,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
0,153,Rock,0.988306,0.255661,0.979774,0.973006,0.121342,0.051740,90.241,0.034018
1,154,Rock,0.970135,0.352946,0.023852,0.957113,0.113261,0.032177,53.758,0.035632
2,155,Rock,0.981657,0.142249,0.912122,0.967294,0.363510,0.087527,91.912,0.034325
3,169,Rock,0.989141,0.225978,0.722835,0.263076,0.092371,0.053406,94.322,0.028347
4,170,Rock,0.886660,0.298518,0.744333,0.920950,0.139587,0.088781,97.880,0.073548

In [ ]:
#Considero que lo que no puede predecir es la columna track_id ya que los id son aquellos valores unicos que no deben de ser repetidos.

In [ ]:
#Obserbando la tabla y con lo que solicita el equipo de la plataforma de musica considero que la variable que debemos predecir es la de genre_top 
#ya que se quiere saber reconocer entre uno y otro

In [ ]:
#Expreso la variable a predecir y los datos predictores
#Donde la "x" se utiliza para crear las predicciones y la "y" tiene los valores que se deben predecir
x = df.drop (['track_id', 'genre_top'], axis=1)
y = df.genre_top

In [ ]:
#Dividi el data set en conjuntos de entrenamiento y validacion para que este modelo se entrene de manera correcta
x_train, x_test, y_train,y_test = train_test_split(x,y,stratify=y)
tree = DecisionTreeClassifier(random_state=42)
tree.fit(x_train,y_train)

DecisionTreeClassifier(random_state=42)

Crea una clase para ingresar variables para predicciones.

In [ ]:
from pydantic import BaseModel
class Music(BaseModel):
  
  #Defino las variables
  acousticness: float
  danceability: float
  energy: float
  instrumentalness: float	
  liveness: float	
  speechiness: float	
  tempo: float	
  valence: float
  #Ejemplo
  class Config:
    shema_extra={
        #Este es un ejemplo del tipo de datos que se deben de insertar, es decir que siempre deben tener un número despues del punto
        "example":{
             "acousticness":	0.988306,
             "danceability":	0.255661,
             "energy":	0.979774,
             "instrumentalness": 0.973006,	
             "liveness":	0.121342,		
             "speechiness":	0.051740,	
             "tempo":	90.241,	
             "valence":	0.034018
        }
    }

# Caso Nivel Avanzado
Wendy Yasmin Soto Monzón

Guarda el modelo utilizando Pickle.

In [ ]:
#Serealizo el objeto para almacenar el modelo
Pkl_Filename="model_tree.pkl"
with open(Pkl_Filename,"wb") as file:
  pickle.dump(tree, file)

Crea una API con FastAPI.

In [ ]:
#Se importa la libreria FastAPI 
from fastapi import FastAPI

#Se define que se usara una FastAPI en la variable app
app=FastAPI()

@app.on_event("startup")
#Carga el modelo
def load_model():
  global model
  #Se deserializa usando pickle
  model = pickle.load(open("model_tree.pkl", "rb"))

#Carga el modelo en la API, crea un endpoint de acceso donde si la API carga muestre el mensaje “PUNTO DE ACCESO API”
#Aparece esta indicacion si es que se logro deserializar
@app.get("/")
def index():
  return {'PUNTO DE ACCESO API'}

@app.post('/predict')
def get_music_category(data: Music):
  #Se resive la informacion para crear la prediccion
  received=data.dict()
  acousticness=received['acousticness']
  danceability=received['danceability']
  energy=received['energy']
  instrumentalness=received['instrumentalness']
  liveness=received['liveness']
  speechiness=received['speechiness']	
  tempo=received['tempo']
  valence=received['valence']

  #Se predice utilizando el modelo
  pred_name=model.predict([[acousticness,	danceability,	energy,	instrumentalness, 
                            liveness,	speechiness,	tempo,	valence]]).tolist()[0]
  return {'prediction': pred_name}

In [ ]:
#Se muestran las primeras 5 filas del dataframe 
df.head()

,track_id,genre_top,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
0,153,Rock,0.988306,0.255661,0.979774,0.973006,0.121342,0.051740,90.241,0.034018
1,154,Rock,0.970135,0.352946,0.023852,0.957113,0.113261,0.032177,53.758,0.035632
2,155,Rock,0.981657,0.142249,0.912122,0.967294,0.363510,0.087527,91.912,0.034325
3,169,Rock,0.989141,0.225978,0.722835,0.263076,0.092371,0.053406,94.322,0.028347
4,170,Rock,0.886660,0.298518,0.744333,0.920950,0.139587,0.088781,97.880,0.073548

In [ ]:
#Se instalan ngrok y uvicorn, estas nos permitiran desplegar el modelo a internet.
!pip install pyngrok
!pip install ngrok
!pip install uvicorn
!pip install nest-asyncio

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyngrok in /usr/local/lib/python3.7/dist-packages (5.1.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok) (3.13)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ngrok in /usr/local/lib/python3.7/dist-packages (0.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: uvicorn in /usr/local/lib/python3.7/dist-packages (0.18.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from uvicorn) (4.1.1)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn) (7.1.2)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn) (0.13.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (1.5.5)

In [ ]:
#Ingreso mi authtoken de ngrok
! ngrok authtoken 2DMNBBB8krtiOozn2Qx2lEY2vst_BjUcamhbP3RsSz4GpjCh

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

Simula acceder a la API y captura el resultado en pantalla.

In [ ]:
#Importo librerias
from pyngrok import ngrok
import uvicorn
import nest_asyncio

In [ ]:
#Creo el tunel de conexión
ngrok_tunnel=ngrok.connect(8000)
#Imprimo la url publica de acceso
print('Public URL:', ngrok_tunnel.public_url)
#Conecto la API
nest_asyncio.apply()
uvicorn.run(app, port=8000)

Public URL: http://415d-35-196-93-105.ngrok.io

INFO:     Started server process [1589]
INFO:uvicorn.error:Started server process [1589]
INFO:     Waiting for application startup.
INFO:uvicorn.error:Waiting for application startup.
INFO:     Application startup complete.
INFO:uvicorn.error:Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)
INFO:uvicorn.error:Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)

INFO:     200.68.151.212:0 - "GET / HTTP/1.1" 200 OK
INFO:     200.68.151.212:0 - "GET /favicon.ico HTTP/1.1" 404 Not Found
INFO:     200.68.151.212:0 - "GET /docs HTTP/1.1" 200 OK
INFO:     200.68.151.212:0 - "GET /docs HTTP/1.1" 200 OK
INFO:     200.68.151.212:0 - "GET /openapi.json HTTP/1.1" 200 OK
INFO:     200.68.151.212:0 - "POST /predict HTTP/1.1" 200 OK

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"
INFO:     Shutting down
INFO:uvicorn.error:Shutting down
INFO:     Waiting for application shutdown.
INFO:uvicorn.error:Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:uvicorn.error:Application shutdown complete.
INFO:     Finished server process [1589]
INFO:uvicorn.error:Finished server process [1589]

In [ ]:
#Cierro la conexion del tunel creada anteriormente para poder abrir otro
ngrok.kill